
.nav ul {
	/* padding-top: 500px; */
	margin:0;
	list-style: none;
	position: absolute;
}

ul:first-child {
	padding-left: 370px;
}
.nav li {
	float: left;
	margin-top: 50px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	/* border-bottom: 1px solid white; */
	/* border-top: 1px solid white; */
margin-right: 35px;
/* border: 0.4px solid white; */
	border-radius: 12px;

}

.nav a {
width: 80px;
color: white;
display:block;
text-decoration: none;
font-size: 18px;
align-content: center;
padding: 6px;
/* padding-bottom: 10px; */
border-radius: 10px;
font-weight: bold;
/* margin: 30px; */
}


.nav {
	width: 100%;
	background: transparent;
	height: 100px;
	margin-top: 0;
	/* margin-left: 400px; */
	/* padding-top: 500px; */
}
