.footer {
background: black;
position: fixed;
left: 0;
bottom: 0;
height: 110px;
width: 100%;
color: white;
text-align: center;
opacity: 0.9;
background-color: rgba(0,0,0,0.6);

}
div a {
  float: left;
  margin: 25px 1px 10px 70px;


}

.fa.fa-facebook {
  padding-left: 600px;

}
